
.idea/.name

.idea/compiler.xml

.idea/dictionaries/pavelarteev.xml

.idea/encodings.xml

gen/com/example/R.java

local.properties

proguard-project.txt

project.properties

build.xml

ant.properties

PullToRefreshListView.iml

.idea/workspace.xml

.idea/vcs.xml

.idea/uiDesigner.xml

.idea/scopes/scope_settings.xml

.idea/modules.xml

.idea/misc.xml

.idea/copyright/profiles_settings.xml
